<head>
    <title>Zoom translation demo.</title>
    <style>
        * { background-color: black; color: white }
    </style>
</head>
<body>
    <input type="text" placeholder="Zoom meeting link" size="50" id="zoom_link"><button id="start_button">join</button>
    <div width="500px" id="translation_output"></div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script type="text/javascript" src="static/zoom-transcribe.js"></script>